body{
    background-color: #252525;
    color: #ffff;
   padding: 2%;
}
header>div {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}
section.container{
    margin-top: 2%;
    border: 0.2rem solid gold;
    border-radius: 10px;
    box-shadow: 0px 0px  50px #52d4ff;
    margin-bottom: 2%;
}
.address-field>input{
margin-top:2%;
}
section.container {
    width: 50%;
}
form.container {
    width: 50%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

label{
    align-self: start;
}

form>p{
    color:#b872ff;
    padding-top: 1%;
    padding-left: 2%;
    text-align: left;
    width: 100%;
}
form>p span {
    color: red;
}
form>div {
    padding: 3% 2%;
    width: 100%;
}

button.btn.btn-danger.delete-address {
    margin: 2% 0%;
}

form>div:last-child{
    display: flex;
    justify-content: center;
}

.form-label::before{
content: "*";
color:  red;
}


.a {
    text-align: center;
}


.btn-success:hover {
     color: #fff;
     background-color: transparent;
     border-color: #37ffa2;
     box-shadow: 0px 0px 35px #ff4b4b;
 }








